<%- include('./header.ejs') %>
<h1 class="title">
    <%= title %>
</h1>

<h5 class='text-center mb-4'>
    <%- brand.description %>
</h5>

<% if (brand_products.length === 0) { %>
<h5>No Products Found</h5>
<% } %>

<ul>
    <% brand_products.forEach(product => { %>
    <li class="mb-3">
        <h5>
            <a href="<%= product.url %>" class="link-offset-3 link-underline 
                link-underline-opacity-0 link-underline-opacity-75-hover">
                <%= product.name %>
            </a>
        </h5>
        <span><%= product.description %></span>
    </li>
    <% }) %>
</ul>
<hr>
<div class="mb-2">
    <a href="<%= brand.url %>/update" class="link-offset-3 link-underline 
    link-underline-opacity-0 link-underline-opacity-75-hover">
        Update Brand
    </a>
</div>
<div>
    <a href="<%= brand.url %>/delete" class="link-offset-3 link-underline 
        link-underline-opacity-0 link-underline-opacity-75-hover">
        Delete Brand
    </a>
</div>
<%- include('./footer.ejs') %>