<%- include('./header.ejs') %>
<h1 class="title">
    <%= title %>
</h1>

<h4 class='text-center'>
    <%- brand.description %>
</h4>

<% if (brand_products.length === 0) { %>
<h5>No Products Found</h5>
<% } %>

<ul>
    <% brand_products.forEach(product => { %>
    <li>
        <h5>
            <a href="<%= product.url %>" class="link-offset-3 link-underline 
                link-underline-opacity-0 link-underline-opacity-75-hover">
                <%= product.name %>
            </a>
        </h5>
        <span><%= product.description %></span>
    </li>
    <% }) %>
</ul>
<hr>
<a href="<%= brand.url %>/update" class="link-offset-3 link-underline 
    link-underline-opacity-0 link-underline-opacity-75-hover">
    Update Brand
</a>

<%- include('./footer.ejs') %>