<%- include('./header.ejs') %>
<h1 class="title">
    <%= title %>
</h1>
<form method="POST" class="mb-3">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Brand Name" required
            value="<%= typeof brand === 'undefined'  ? '' : brand.name %>">
        <label for="name" class="form-label">Name</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Brand Description" id="description" name="description"
            required><%= typeof brand === 'undefined'  ? '' : brand.description %></textarea>
        <label for="description">Description</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if(typeof errors !== 'undefined'){ %>
<ul>
    <% errors.forEach(error => { %>
    <li class="text-danger"><%= error.msg %></li>
    <% }) %>
</ul>
<% } %>
<%- include('./footer.ejs') %>