<%- include('./header.ejs') %>
<h1 class="title">
    <%= title %>
</h1>

<h4 class='text-center'>
    <%= category.description %>
</h4>

<% if (category_products.length === 0) { %>
<h5>No Products Found</h5>
<% } %>

<ul>
    <% category_products.forEach(product => { %>
    <li>
        <h5>
            <a href="<%= product.url %>">
                <%= product.name %>
            </a>
        </h5>
        <span><%= product.description %></span>
    </li>
    <% }) %>
</ul>

<%- include('./footer.ejs') %>