<%- include('./header.ejs') %>
    <h1 class="title">
        <%= title %>
    </h1>
    <ul>
        <% product_list.forEach(product=> { %>
            <li class="fs-4">
                <a href="<%= product.url%>"
                    class="link-offset-3 link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                    <%= product.name %>
                </a>
                <% product.category.forEach(category=> { %>
                    <span>- <%= category.name %></span>
                    <% }) %>
                        <span>- <%=product.brand.name %></span>
            </li>
            <% }) %>
    </ul>
    <%- include('./footer.ejs') %>