<%- include('./header.ejs') %>
<h1 class="title">
    <%= product.name %>
</h1>

<h5 class='text-center'>
    <%= product.description %>
</h5>

<ul>
    <li class='fs-4'>
        <% if(product.isOnSale){%>
        <span>
            Original: $<%= product.price %> | NOW:
            $<%= product.salePrice  %>
        </span>
        <% } else { %>
        <span>$<%= product.price %></span>
        <% } %>
    </li>

    <% if(product.isOnSale){%>
    <li class='fs-4'>
        SALE: <%= product.salePercentage %>% Off
    </li>
    <% } %>

    <li class='fs-4'>
        <%= product.inStock %> in stock
    </li>

    <li class='fs-4'>
        Brand: <a href="<%= product.brand.url %>" class="link-offset-3 link-underline 
            link-underline-opacity-0 link-underline-opacity-75-hover">
            <%= product.brand.name %>
        </a>
    </li>
    <li class='fs-4'>
        Categories
        <ul>
            <% product.category.forEach(category => { %>
            <li class="fs-5">
                <a href="<%= category.url %>" class="link-offset-3 link-underline 
                    link-underline-opacity-0 link-underline-opacity-75-hover">
                    <%= category.name %>
                </a>
            </li>
            <% }) %>
        </ul>
    </li>
</ul>

<hr>
<div class="mb-2">
    <a href="<%= product.url %>/update" class="link-offset-3 link-underline 
    link-underline-opacity-0 link-underline-opacity-75-hover">
        Update Product
    </a>
</div>
<div>
    <a href="<%= product.url %>/delete" class="link-offset-3 link-underline 
    link-underline-opacity-0 link-underline-opacity-75-hover">
        Delete Product
    </a>
</div>

<%- include('./footer.ejs') %>